{% extends "base.html" %}

{% block content %}

<style>
    .content1 {
       background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6x_CQsa43j2rJ9wdXl3zFhu1PXFXZ7xhTpw&s');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       background-attachment: fixed;
    }
</style>
<div class="container mt-5">
    <div class="content1 p-4">
        <h1 class="text-center">About</h1>


        <p class="mt-4">
            E-Hospitality is a comprehensive healthcare platform dedicated to making healthcare more accessible and efficient for everyone involved, from patients to medical professionals and administrators. Our mission is to integrate patient care, administrative tasks, and clinical operations into a cohesive system that fosters better health outcomes and streamlines healthcare processes.
        </p>

        <p>
            With E-Hospitality, patients can manage their health with ease: booking appointments, accessing medical records, purchasing medications online, and keeping track of their billing and payments in one place. We also provide valuable health resources and tips, empowering patients to stay informed and proactive about their health.
        </p>

        <p>
            For healthcare providers, E-Hospitality offers robust tools to manage appointments, access patient records, and communicate with patients seamlessly. Our platform aims to reduce administrative burdens, allowing providers to focus on what matters most—delivering quality care.
        </p>

        <p>
            E-Hospitality is designed to evolve with the changing needs of the healthcare sector, continually improving to provide innovative solutions that promote a healthier, more connected world. Join us in our journey to transform healthcare for the better.
        </p>
        <p class="text-center font-italic">@ E-Hospitality 2024</p>
    </div>
</div>
{% endblock %}
